.view-restaurant-slideshow .views-field-title {
    background-color: red;
}

.view-restaurant-slideshow .views-field-title {
    position: absolute;
    bottom: 60px;
    right: 10px;
    text-align: center;
    opacity: 0.5;
    background-color: white;
    font-size: 20px;

}
.view-restaurant-slideshow .views-field-field-website {
    position: absolute;
    bottom: 20px;
    right: 10px;
    text-align: center;
    opacity: 0.5;
    background-color: white;
    font-size: 20px;
}
.view-restaurant-slideshow .views-field-counter {
    float: left;
    padding: 10px 5px;
    width: 10px;
    background: url('../images/grey-dot.png') top left no-repeat;
	cursor: pointer;
}

.view-restaurant-slideshow .active .views-field-counter {
    background: url('../images/pink-dot.png') top left no-repeat;
}

.view-restaurant-slideshow .views-content-counter {
    display: none;
}

.views-slideshow-controls-text-pause {
	display: none;
}

.views-slideshow-controls-text-previous,
.views-slideshow-controls-text-next {
	position: absolute;
	z-index: 100;
	top: 250px;
}
.views-slideshow-controls-text-previous {
	left: 10px;
}
.views-slideshow-controls-text-next {
	position: absolute;
	right: 10px;
}
